.menu{
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom:#eee solid 1px;
    z-index: 100000;
    background: #F5F5F5;
}

.menu.showHeader {
    visibility: visible
}

.menu.hideHeader {
    visibility: hidden
}

.header{
  position: releated;
  top: 0px;
  width: 100%;
  height: 48px;
  background: url("http://nos.netease.com/house-public/37cda0962916152108a4767d5902b7dd.png") no-repeat 0 -1680px;
  z-index: 100000;
}

.scrollmenu{
  position: releated;
  top: 42px;
  width: 100%;
  border-bottom:#eee solid 1px;
  background: #F5F5F5;
}

.top-nav{
    border-top: #f33737 solid 1px;
    white-space: nowrap;
    width: 100%;
    margin: 0 auto;
}

.top-btn{
    display: inline-block;
    padding: 22rpx;
    font: 12px/16px "Microsoft Yahei";
}

.top-hoverd-btn{
    color: #ffffff;
    background-color: #f33737 
}

.classify-title{
    margin-left: 10px;
    font: 16px/16px "Microsoft Yahei";
    font-weight: 500;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height: 600px;
}

swiper{
    width: 335;
    max-width: 100%;
    height: 200px;
    text-align: center;
}

.swiper-notify-row{
    display: flex;
    flex-direction: column;
    // margin: 20rpx 5rpx 0rpx 5rpx;
    clear: both;
}
.swiper-notify{
    padding: 10rpx;
    background-color: #faf3d2;
}

.swiper-notify-text{
    font: 11px/14px "Microsoft Yahei";
    color: #565656
}

.notify-img{
    width: 10px;
    height: 10px;
}

// .img-poster{
//     margin: 1rpx;
//     padding: 5rpx;
//     text-align: center;
//     box-sizing: border-box;
// }

.actual-img{
    width: 370px;
    height: 200px;
}

.col3{
    display:flex;
    flex-direction:column;
    margin:0rpx;
    clear:both;
    border-top:#ccc solid 1px;
    padding:30rpx 0;
    
}

.col3-h{
    border-bottom: #eee dotted 1px;
    padding: 10rpx;
    font-size: 16px;
}

.col3-img{
    display: inline-block;
    margin: 0 1px;
    position:relative;
}

.c3-actual-img{
    width: 130px;
    height: 180px;
}

.col3-img text {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    text-overflow:ellipsis;
}

.c3-actual-img-footer{
    position: absolute;
    bottom:0px;
    left:0px;
    margin:auto auto;
    font:12px/24px "Microsoft Yahei";
    font-weight:500;
    background-color:#333;
    color:#eee;
    width:120px;    
    padding:0px 5px;
    z-index:2;
    opacity: 0.8;
}

.col3-img-list{
    width: 100%;
    white-space: nowrap;
    margin: 2rpx;
}

.nav{
    display: flex;
    flex-flow: row wrap;
}

.tag{
    margin: 3px 5px;
}